<!doctype html>
<html>

<head>
    <title>CatchU</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Norm Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <!-- //Fonts -->
</head>

<body>
    <!-- mian-content -->
    <div class="main-content" id="home">
        <!-- header -->
        <header class="header">
            <div class="container">
                <!-- nav -->
                <nav class="py-2">
                    <div id="logo">
                        <h1> <a class="navbar-brand" href="/user/login/form">桌助你<span>catchU</span> </a>
                        </h1>
                    </div>

                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu">
                        <li class="active"><a href="/user/login/form">返回首頁</a></li>
                       
                        <li class="dropdown">
                            <!-- First Tier Drop Down -->
                            <label for="drop-2" class="toggle"> <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                            
                            <input type="checkbox" id="drop-2" />
                           
                        </li>
                       

                    </ul>
                </nav>
                <!-- //nav -->
            </div>
        </header>
        <!-- //header -->
        <!--~~~~~~~~~~~~~~~~~--> 
        <section class="contact py-5" id="contact">
            <div class="container py-lg-5">
                <h3 class="title-w3ls two text-center">結束遊玩</h3>
            </div>
            <script language="javascript">
    
                function ShowToday(){
                var Today=new Date();
                alert("現在時間是 " + Today.getFullYear()+ " 年 " + (Today.getMonth()+1) + " 月 " + Today.getDate() + " 日 " + Today.getHours() + " 時 " + Today.getMinutes() + " 分 " + Today.getSeconds() + " 秒 ");
                }
                               
            </script>
               
                    <form action = "/caltime/addend" method = "post">
                        
                        <div class="form">
                            <span class="name"></span>
                            <div class="col-sm-12 text-center">
                            <span class="value"><input type="submit"  name="endtime" value="結帳" ></span>    
                            </div>
                        </div>
                        
                    </form>
     
               
        </div>  
        </section>     
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="copy-right">
            <div class="container">
                <div class="row">
                    <p class="copy-right-grids text-md-left text-center my-sm-4 my-4 col-md-6">© 2020 CatchU|桌助你 | Design by 109408組
                        
                    </p>
                    <div class="w3pvt-footer text-md-right text-center mt-4 col-md-5">
                      
                    </div>
                    <div class="move-top text-right col-md-1"><a href="#home" class="move-top"> <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span></a></div>
    
                </div>
            </div>
        </div>
    
    </body>
    
    </html>
        
    