<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>測試網頁</title>
<!-- 連結思源中文及css -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
<link href="/css/menu.css" rel="stylesheet"/>  
<link href="/css/main.css" rel="stylesheet"/>      
<!------------------------->
<title>新增時確認</title>
<script language="javascript">
function confirmadd()
{
if(confirm("確定要新增嗎?"))
alert("確認新增！");
else
alert("取消新增");
}
</script>

</head>
   
<body>
    <!--**************************-->
    <div class="container">    
        <!--~~~~~~~~~~~~~~~~~-->
        <div class="header">           
        </div>        
        
        <!--~~~~~~~~~~~~~~~~~-->        
        <ul id="navigation">        
            <li><a href="javascript:history.back()">上一頁</a></li> 
        </ul>
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="content">

            <h2>新增類別 </h2>

                <form action = "/item/add" method = "post">
                    <div class="form">                  

                        <span class="name">類別名稱: </span>
                        <span class="value"><input type="text" name="itemname" required="required"></span>
                        <br/>
                        
                        <span class="name"></span>
                        <span class="value"><input type="submit" value="新增" onclick="confirmadd"></span>    
                    </div>
                </form>
              
               
        </div>       
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="footer">
            NTUB imd, 2019.    
        </div>  
    </div>
    <!--**************************-->    
</body>
   
</html>
