<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>CatchU 註冊員工帳號</title>
<!-- 連結思源中文及css -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
<link href="/css/menu.css" rel="stylesheet"/>  
<link href="/css/main.css" rel="stylesheet"/>      
<!------------------------->

</head>
   
<body>
    <!--**************************-->
    <div class="container">    
        <!--~~~~~~~~~~~~~~~~~-->
        <div class="header">           
        </div>        
        
        <!--~~~~~~~~~~~~~~~~~-->        
        <ul id="navigation">        
            <li><a href="/">返回主頁</a></li> 
        </ul>
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="content">

            <h2>註冊員工帳號</h2>

                <form action = "/register/add" method = "post">
                    <div class="form">
                        <span class="name">姓名: </span>
                        <span class="value"><input type="text" name="username" required="required"></span>
                        <br/>
                                        
                        <span class="name">聯絡電話: </span>
                        <span class="value"><input type="tel" name="staffphone" required="required"></span>
                        <br/>

                        <span class="name">暱稱: </span>
                        <span class="value"><input type="text" name="nickname" required="required"></span>
                        <br/>

                        <span class="name">密碼: </span>
                        <span class="value"><input type="password" name="password" required="required"></span>
                        <br/>
                        
                        <span class="name"></span>
                        <span class="value"><input type="submit" value="註冊" ></span>    
                    </div>
                </form>
              
               
        </div>       
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="footer">
            NTUB imd, 2019.    
        </div>  
    </div>
    <!--**************************-->    
</body>
   
</html>
